<form action="/add" method="post">
  <p>Titulo:</p>
  <input type="text" name="titulo" />
  <p>Conteúdo:</p>
  <textarea name="conteudo" placeholder="Escreva aqui"></textarea>
  <button type="submit">Cadastrar Post</button>
</form>